<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prototipo TGEB - Flujo Completo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="bg-canvas"></div>


<%= require('./views/slide-0.html') %>

<%= require('./views/slide-1.html') %>

<%= require('./views/slide-2.html') %>

<%= require('./views/slide-3.html') %>

<%= require('./views/slide-4.html') %>

<%= require('./views/slide-5.html') %>

<%= require('./views/slide-6.html') %>

<!-- JS is bundled by Webpack -->

</body>
</html>
